.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #ffffff;
  z-index: 999;
  padding: 72px 16px 40px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mobile-menu-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.mobile-menu-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: #e7e9fc;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover > .mobile-menu-close-icon,
.mobile-menu-close:focus > .mobile-menu-close-icon {
  fill: #ffffff;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 168px;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: #404bbf;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  font-style: normal;
  row-gap: 24px;
  margin-bottom: 48px;
}

.mobile-menu-address-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-email {
  color: #434455;
}

.mobile-menu-socials {
  display: flex;
  column-gap: 40px;
}

.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
